.container {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
}
.container-paginas {
    
    padding-left: 30px;
    color: black;
}

.texto-paginas {
    color: white;
    font-size: 25px;
}

.cabecalho__logo {
    margin-top: 8px;
    margin-left: 5px;
    width: 3.8rem;
    
}